div#glocale_main {
    background-color: gray;
    min-width: 350px;
    min-height: 500px;
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 9999;
    opacity: 0.2;
}
div#glocale_main:hover {
    opacity: 1.0;
}