#glocale_container {
    color: darkgreen;
    background-color: #242424;
    width: 350px;
    height: 90%;
    max-height: 500px;
    position: fixed;
    right: 8px;
    bottom: 15px;
    z-index: 9999;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}
#glocale_main {
    text-align: left;
    display: flex;
    flex: 1;
    flex-direction: column;
}
#glocale_header {
}
#glocale_main div {
}
#glocale_messages_container {
    display: flex;
    flex: 1;
    flex-direction: column;

}
#glocale_messages {
    width: 336px;
    overflow-y: auto;

}

#glocale_input_container {
    width: 336px;
    color: wheat;
}
#glocale_input {
    background-color: #3A3A3A;
    color: #A8A8A8;
    border-radius: 0 0 8px 8px;
    padding: 12px;
    outline: none;
}