#glocale_container {
    color: darkgreen;
    background-color: black;
    width: 350px;
    height: 90%;
    max-height: 500px;
    position: fixed;
    right: 8px;
    bottom: 0;
    z-index: 9999;
    border-radius: 8px 8px 0 0;
}

#glocale_main {
    height: 100%;
    padding: 8px;
    text-align: left;
}
#glocale_header {
    display: none;
}
#glocale_main div {

}
#glocale_table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
#glocale_messages {
    background-color: black;
    width: 336px;
    overflow-y: scroll;
    height: 350px;
}

#glocale_input_container {
    width: 336px;
    color: wheat;
}
#glocale_input {
    max-height: 200px;
    /*overflow-y: scroll;*/
}